header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 10vh;
  padding-top: 2vh;
}

.header__logo {
  height: 10vh;
}
.header_login button {
  border-radius: 100px;
  padding: 1vh 2vw 1vh 2vw;
}
.header_login button {
  background-color: white;
  border: solid var(--primary-color) 2px;
  font-weight: 400;
  font-size: larger;
  color: var(--primary-color);
  cursor: pointer;
  transition-duration: 0.4s;
}
.header_login button:hover {
  background-color: var(--primary-color);
  border: solid white 2px;
  color: white;
}

.header__logo img {
  height: 10vh;
}
