.notification {
  font-weight: bold;
  border-radius: 25px;
  position: absolute;
  bottom: 0vh;
  height: 40px;
  width: 100%;
  padding-left: 3vw;
  display: flex;
  align-items: center;
}

.notification.success {
  background-color: rgb(125, 254, 125);
}

.notification.error {
  background-color: rgb(255, 128, 128);
}
